<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation"></nav>
    <form method="post">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" name="description" /></td>
            </tr>
        </table>
        <input type="submit" value="Add Cheese" />
    </form>

</body>
</html>