<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation"></nav>
    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese to remove:)</p>
    <form method="post">
        <table>
            <tr th:each="cheese : ${cheeses}">
                <td><input type="checkbox" name="cheeseRemoved" th:value="${cheese}" /></td>
                <td th:text="${cheese.name}"></td>
                <td th:text="${cheese.description}"></td>
            </tr>
        </table>
        <input type="submit" value="Remove Cheese(s)" />
    </form>
</body>
</html>